body {
  font-family: Arial, Helvetica, sans-serif;
}

.root {
  display: flex;
  flex-direction: column;
}

.hooks {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.list {
  padding: 10px;
}

li {
  cursor: pointer;
  margin: 5px;
}

.selected {
  margin: 5px;
  color: blue;
  text-decoration: underline;
}
